* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_geral {
    background: #ffffff;
    height: 520px;
    width: 430px;
    opacity: 0,8;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;  
    justify-content: center;
      
}


.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 55px;
    font-size: 40px;
}

.box_tratamentos {
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.box_tratamentos input {
    width: 270px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    background-color: rgb(190, 241, 196);
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
    color: #000000;
}

.box_tratamentos input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(190, 241, 196) inset !important;
    -webkit-text-fill-color: black !important;
}
.box_tratamentos label {
    color: #000000;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    
}

.checkbox input{
    display: none;   
    
}

.checkbox label {
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox  input + label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 0.5px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.411);

}

.checkbox input:checked + label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #0ba018;
    background-position: center;
}

.box_botao {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.generatePdf{
    color: #fff;
    border: none;
    outline: none;
    height: 50px;
    width: 135px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: #0ba018;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 20px;
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
    place-content: center;
    display: flex;
    transition: 0.2s
    
}

.loading {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-right-color: #ffffff;
    animation: loader 1s ease infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

#recarregar {
    position: absolute;
    right: calc(50% - 75px);
    color: #02bb12;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 20px;;
    font-weight: 600;
    margin-top: 15px;
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
}

#recarregar:hover {
    text-decoration: underline;
    font-weight: 600;
}


/* Janela suspensa */

#btn_croqui {
    position: relative;
    border: none;
    left: 300px;
    top: 47px;
    width: 105px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    color: #02bb12;
    background-color: transparent;
}

#btn_croqui:hover {
    text-decoration: underline;
    font-weight: 600;
}
.janela_modal { 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.janela_modal.abrir{
    display: flex;
}

.modal {
    width: 40%;
    height: 45%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffffc9;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}

.modal > p {
    text-align: justify;
    padding-top: 10px;
    margin-bottom: 10px;
}


.modal li {
    text-align: left;
    margin-left: 30px;
}


.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    background-color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to { 
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirmodal 0.4s forwards;
}

/* Footer */
.criador {
    width: 100px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.criador p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 7px;
}

.criador ul {
    list-style-type: none; 
    display: flex;
    position: relative;
    flex-direction: column;
}

.criador ul li {
    width: 90px;
    height: 20px;
    box-shadow: 0 3px 5px #00000050;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease;
    margin-bottom: 7px;
    background: linear-gradient(45deg, #eefe12, #f80ad0);
    
}

.criador ul li:hover{
    transform: scale(1.3);
    background: linear-gradient(45deg, var(--cor1), var(--cor2));
}

.criador ul li .icon {
    font-size: 13px;
    color:#000000;
    margin: 3px;
}

.criador ul li .text{
    font-size: 11px;
    color: #000000;    
}


@media screen and (max-width: 600px) {
    
    .box_geral {
        height: 450px;
        width: 350px;  
    }
    .dados h1 {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 360px) {
    .box_geral {
        height: 350px;
        width: 310px;  
    }
    .dados h1 {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .checkbox{
        padding-top: 0px;
    }
    .generatePdf{
        margin-top: 7px;
    }  
    .criador {
        margin-top: 10px;
    }  
}

@media screen and (max-height: 350px) {
    .box_geral {
        margin-top: 65px;
        height: 400px;
        padding: 70px;
        margin-left: 120px;
    }
    .dados h1 {
        margin-bottom: 15px;
        font-size: 40px;
    }
    
    .box_tratamentos {
        margin-bottom: 0px;    
    }
    .checkbox{
        padding-top: 4px;
        
    }

    .generatePdf{
        margin-top: 2px;
    } 
    .criador {
        margin-left: 20px;
        margin-top: 0px;
    }
    body {
        flex-direction: row;
    }

    #recarregar {
        margin-top: 3px;
   
    }
    
}